* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header{
  background: rgba(204, 94, 118, 0.1);
}
.header-container{
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;

}
.logo img{
  width: 100px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  

}
ul li {
  list-style: none;
}
li a{
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  color: rgb(29, 8, 8);
}
/*header end here*/

.welcome-section {
  background: rgba(204, 94, 118, 0.1);
}
.welcome-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 30px;
  max-width: 1000px;
  height: 650px;
}
.wel-intro h1 {
  font-size: 45px;
  margin-bottom: 25px;
  color: #181818;
}
.wel-intro p {
  color: rgba(39, 39, 39, 0.7);
}
.wel-intro button {
  padding: 20px 40px;
  background-color: #e55473;
  border-radius: 8px;
  margin-top: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: #e55473;
}

.flower-img img {
  padding-top: 40px;
  height: 650px;
}

/*feature section*/
.feature-section {
  margin: 80px 0;
}
.feature-txt {
  max-width: 500px;
  margin: auto;
  text-align: center;
}
.feature-txt h2 {
  font-size: 35px;
  margin-bottom: 10px;
}
.feature-txt p {
  margin: 2px;
  color: rgba(39, 39, 39, 0.7);
}
.feature-flowers {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.feature-card img {
  width: 350px;
  height: 350px;
  margin: 9px;
  text-align: center;
  padding: 70px 70px 0px 70px;
  border-radius: 50% 50% 0 0;
}
 .feature-card1 img{
  background-color: antiquewhite;
}
.feature-card2 img{
  background-color: #0597a026;
}
.feature-card3 img{
  background-color: #477d1126;
}
.feature-card p {
  text-align: center;
  text-decoration: underline;
}
/*delivery-section*/
.delivery-section {
  padding: 60px 0;
}
.delivery-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  max-width: 1000px;
  text-align: center;
}
.del p{
  margin-top: 10px;
}

/*signUp section*/
.signup-section{
  margin: 30px 0;
  padding: 30px 0;
}
.signup-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.signup {
  text-align: center;
}
.signup h2 {
  margin: 20px 0px;
}
.off-red{
  color: red;
}
.signup p {
  margin: 20px 0px;
}
.sign-dis {
  color: rgba(39, 39, 39, 0.6);
}

.subtn{
  padding: 15px 30px;
  background-color: #e55473;
  color: white;
  border: none;
  border-radius: 2px;
}



/*social section*/
.social-section{
  padding:  60px 0;
}
.social-container {
  max-width: 1000px;
  margin: auto;
}
.social-dis {
  max-width: 500px;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
.social-dis p {
  padding: 10px 0;
  line-height: 1.8;
  color: rgba(39, 39, 39, 0.6);
}


.social-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-img img {
  width: 240px;
  height: auto;
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
}

/*subscription section*/

.subscription-section {
  margin: 50px 0;
  padding: 30px 0;
}
.subscription-container {
  background-image: url("asset/rectangle9.png");
  max-width: 1000px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.subs-dis h3 {
  font-size: 30px;
}
.subs-dis p {
  margin-top: 15px;
}
.subs-form .src {
  width: 500px;
  padding: 12px;
  border-radius: 4px;
  outline: none;
  border: none;
}
.subs-form .btn {
  padding: 12px 15px;
  border-radius: 4px;
  background-color: #e55473;
  color: white;
  outline: none;
  border: none;
}
/*footer section*/
.footer-section {
  background-color: black;
  color: white;
}
.footer-container {
  margin: auto;
  max-width: 500px;
  height: 300px;
  text-align: center;
}
.footer-container h2 {
  font-size: 45px;
  padding: 30px 0px;
}
.footer-container p {
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.9);
}
.footer-container span {
  color: red;
}
.footer-container .copyright {
  color: rgba(255, 255, 255, 0.4);
}
